# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller / Packaging
*.manifest
*.spec

# Logs
logs/
*.log

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments & IDEs
.env
.venv
.idea/
.vscode/
*.swp
*.swo

# HuggingFace & Torch Caches
.cache/
hf_cache/
checkpoints/
